<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5521976138311?text=Adorei%20seu%20artigo" class="whatsapp" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>
<div class="back-jumbtron jumbotron bg-dark text-white">
  <div id="textos">
  <h1 class="display-4 titulo">Olá, eu sou Vinicius Pina!</h1>
  <p class="lead">Bacharel em Direito - UERJ | Aprovado no XXX Exame Unificado de Ordem</p>
  <hr class="my-4 bg-light">
  <p> Advogado | OAB-RJ 235806</p>
  <a class="btn btn-primary btn-lg mr-3" href="#" role="button">Fale com um advogado</a>
  </div>
</div>


  <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Como me livrar das <span class="text-muted">dividas?!</span></h2>
      <p class="lead">Você, assim como milhões de brasileiros, está também atolado em dívidas, de modo que nem consegue separar dinheiro para manter seu padrão de vida? <br>
        Em Julho de 2021, o Congresso Nacional promulgou a Lei n° 14.181/2021, que tem o objetivo de ajudar o cidadão a sair dessa condição e, ainda assim, honrar seus compromissos.
        </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 100%; height: 100%;" src="../../public/assets/img/divida.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Sofri um dano e <span class="text-muted">estou sem poder trabalhar</span></h2>
      <p class="lead">Quando falamos de reparação de danos, temos duas espécies possíveis no direito brasileiro: os danos emergentes e os lucros cessantes.
        . <br>
        Os danos emergentes, como o nome já indica, são os danos que a pessoa sentiu ao sofrer alguma conduta de outra pessoa (física ou jurídica). Por exemplo: se alguém bate no seu carro, causa uma certa perda do seu patrimônio para reparar o carro, essa perda é o dano emergente. Assim, se responsável, a pessoa que bateu deverá indenizar os custos do reparo.
        . <br>
        Porém, se o dano causado for tal que impeça que você receba certa quantia determinável que você esperava receber se o dano não fosse causado, então o responsável também terá que pagar a você tudo aquilo que, razoavelmente, você deixou de ganhar. Esses são os lucros cessantes. Por exemplo: uma pessoa que agride outra pessoa e a impede de trabalhar no seu serviço autônomo por certos dias por conta do dano causado, deverá, civilmente, responder pelos danos emergentes e pelos lucros cessantes.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="../../public/assets/img/the-woman-crashed-into-the-car.jpg" data-holder-rendered="true" style="width: 100%px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Os temidos <span class="text-muted">Empréstimos e Financiamentos!</span></h2>
      <p class="lead">Ao fazer um empréstimo bancário ou qualquer tipo de financiamento, o banco pode ofertar uma taxa de juros menor.
        <br>
        Mas o verdadeiro veneno não está na taxa de juros, mas na forma segundo a qual eles são calculados e cobrados.
        <br>
        É muito melhor pagar parcelas de um empréstimo com taxa de 10% de juros contados de forma simples que 5% de juros contados de forma composta ou capitalizada.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180864d62f2%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180864d62f2%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /FIM DAS FEATUREZINHAS *-* -->

</div>

    <div class="container">
      <!-- Exemplo de linha de colunas -->
      <div class="row">
        <% let i = 0%>
        <% textos.forEach(corpo => { %>
          <% i += 1 %>
          <% if(i > 3){ %>
            <% return %>
          <% } %>
        <div class="col-md-4">
          <h2><%= corpo.titulo %></h2>
          <h5><%= corpo.subtitulo %></h5>
          <%- corpo.corpo %>
          <p><a class="btn btn-secondary" href="/texto/show/<%= corpo._id%>" role="button">Ver mais »</a></p>
          <% if(user){%>
            <p><a class="btn btn-primary" href="/texto/index/<%= corpo._id%>" role="button">Editar</a></p>
            <p><a class="btn btn-danger" href="/texto/delete/<%= corpo._id%>" role="button">Excluir</a></p>
            <p><a class="btn btn-primary" href="/section/add/<%= corpo._id%>" role="button">Adicionar a uma seção</a></p>
          <%}%>
        </div>
        <% }) %>
      <hr>

    </div>
</div>




<%- include('includes/footer') %>
