<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5521976138311?text=Adorei%20seu%20artigo" class="whatsapp" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>

<div class="jumbotron bg-dark text-white">
  <h1 class="display-4">Olá, eu sou Vinicius Pina!</h1>
  <p class="lead">Bacharel em Direito - UERJ | Aprovado no XXX Exame Unificado de Ordem</p>
  <hr class="my-4 bg-light">
  <p> ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent c.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Sobre mim</a>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="first-slide active" src="../../public/assets/img/direitoBancario.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Manchete</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="../../public/assets/img/download.gif" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Outra manchete</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="../../public/assets/img/download.gif" alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Outra manchete, pra garantir</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Voltar</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Avançar</span>
  </a>
</div>

<div name="marketing" class="container marketing">

  <!-- Três colunas de texto, abaixo do carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../public/assets/img/direitoBancario.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Direito Bancário </h2>
      <p>Atuamos com processos de revisão de juros e de abusos nos contratos de empréstimo, de financiamento, de cartão de crédito, entre outros serviços que o banco presta indevidamente ao seu consumidor;
      </p>
      <p>Também atuamos com a análise do contrato feito com o banco, para checar a existência de eventual ilegalidade e abusividade;
      </p>
      <p>Além disso, fazemos a defesa de pessoas que estão sofrendo processo de execução ou de busca e apreensão de bens por parte dos bancos.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Direito do Consumidor</h2>
      <p>Atuamos com processos de reparação ao consumidor por práticas lesivas e abusivas feitas pelas empresas que prestaram indevidamente serviços ou venderam produtos defeituosos.
        <br> <br>
        Além disso, atuamos com a consultoria a fim de emissão de parecer, de análise de documentos ou outros atos para identificar ilegalidades provocadas por empresas contra o consumidor.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../public/assets/img/martelo.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Reparação de Danos</h2>
      <p>Atuamos com a reparação de danos patrimoniais causados por terceiros, além da reparação de danos morais.
        <br><br>
        Fazemos isso por meio judicial ou também através de acordos, nos quais, dentro do possível, tentaremos chegar ao melhor interesse dos nossos clientes, de acordo com o que é de direito.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Primeiro título de featurezinhas. <span class="text-muted">Supreendente, não?!</span></h2>
      <p class="lead">Você, assim como milhões de brasileiros, está também atolado em dívidas, de modo que nem consegue separar dinheiro para manter seu padrão de vida? <br>
        Em Julho de 2021, o Congresso Nacional promulgou a Lei n° 14.181/2021, que tem o objetivo de ajudar o cidadão a sair dessa condição e, ainda assim, honrar seus compromissos.
        </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180864d62eb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180864d62eb%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Aêêê, moleque! <span class="text-muted">Tá legal ou não tá?</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180864d62f0%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180864d62f0%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">E, por último, essa aqui. <span class="text-muted">Xeque-mate!</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180864d62f2%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180864d62f2%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /FIM DAS FEATUREZINHAS *-* -->

</div>

    <div class="container">
      <!-- Exemplo de linha de colunas -->
      <div class="row">
        <% textos.forEach(corpo => { %>
        <div class="col-md-4">
          <h2><%= corpo.titulo %></h2>
          <h5><%= corpo.subtitulo %></h5>
          <%- corpo.corpo %>
          <p><a class="btn btn-secondary" href="/texto/show/<%= corpo._id%>" role="button">Ver mais »</a></p>
          <% if(user){%>
            <p><a class="btn btn-primary" href="/texto/index/<%= corpo._id%>" role="button">Editar</a></p>
            <p><a class="btn btn-danger" href="/texto/delete/<%= corpo._id%>" role="button">Excluir</a></p>
            <p><a class="btn btn-primary" href="/section/add/<%= corpo._id%>" role="button">Adicionar a uma seção</a></p>
          <%}%>
        </div>
        <% }) %>
      <hr>

    </div>
</div>
<%- include('includes/footer') %>
