<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="../../../public/assets/css/data.css">

<main>
	<div>
		<% Sections.forEach(async function (corpo) { %>
			<section class="mt-3" id="<%= corpo.nameSection %>">
				<h2><%= corpo.nameSection %></h2>
				<ul>
					<% titulos.forEach( function (titulo){ %>
            <% if(corpo.id_article.indexOf(titulo._id) != -1) { %>
							<li class=""><a href="/texto/show/<%= titulo._id %>"><%= titulo.titulo %></a></li>
              <% if(user){ %>
              <p><a class="btn btn-danger" href="/section/removeId/<%= corpo._id%>/<%= titulo._id %>" role="button">Remover desta seção</a></p>
              <% } %>
							<%} %>
          <%})%>
				</ul>
			</section>
			<% });%>
	</div>
	<nav class="section-nav">
    <% if(Sections.length > 0) { %>
		<ol>
      <% Sections.forEach(async function (corpo) { %>
			<li><a href="#<%= corpo.nameSection %>"><%= corpo.nameSection.toUpperCase() %></a></li>
				<ul>
					<% titulos.forEach( function (titulo){ %>
            <% if(corpo.id_article.indexOf(titulo._id) != -1) { %>
							<li class=""><a href="#endpoints--<%= titulo.titulo %>"><%= titulo.titulo %></a></li>
							<%} %>
          <%})%>
				</ul>
			</li>
      <% }); %>
		</ol>
    <% };%>
	</nav>
</main>


<%- include('includes/footer') %>
